body {
  background-image: url("../assets/bgtexture.jpg");
  background-repeat: repeat;
}
p {
  color: #5f002b;
}

.text-content-box {
  background-color: #ffffff;
  color: #5f002b;
  padding: 30px;
}

.navbar .nav-link {
  color: #5f002b !important; 
  font-weight: bold;
  font-family: serif; 
  margin-left: 10px;
}
.nav-link {
            color: #5F002B !important; 
            font-weight: bold;
            margin-left: 1.5rem;
        }


.pageBar{
     width: 1400px;            
        height: 50px;             
        background-color: rgb(255, 255, 255);
        margin: 50px auto;         
        display: flex;             
        justify-content: center;   
        align-items: center;
        font-size: 30px;
    font-weight:bold
              
}
.header-img {
    width: 81%;
    height: auto;
    display: block;
    margin: 0 auto;
}







