body {
    background-image: url("/assets/bgtexture.jpg")
}
.nav-link {
            color: #5F002B !important; 
            font-weight: bold;
            margin-left: 1.5rem;
        }































































































.pageBar{
     width: 1400px;            
        height: 50px;             
        background-color: rgb(255, 255, 255);
        margin: 50px auto;         
        display: flex;             
        justify-content: center;   
        align-items: center;
        font-size: 30px;
    font-weight:bold
              
}
.header-img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}







